v-app
  v-navigation-drawer(v-model="drawer", right, fixed, app, mobile-break-point="632")
    v-container
      v-row(dense)
        v-col(cols="12")
          v-select(v-model="sortAlgorithm", :items="sortAlgorithms")
        v-col(cols="12")
          v-btn(block, @click="onSort") Sort!
        v-col(cols="12")
          v-btn(block, @click="onShuffle") Shuffle!
        v-col(cols="12")
          v-text-field(type="number", :value="1000", min="10", max="15000") Shuffle!
        v-col(cols="12")
          v-checkbox(label="Delay between swaps")
        v-col(cols="12")
          v-select(:items="['DEFAULT_DOTS']")

  v-app-bar(app, fixed, clipped-left)
    v-toolbar-title Visualised Sorting Algorithm
    v-spacer
    v-app-bar-nav-icon(@click.stop="drawer = !drawer")

  v-content(v-resize="onResize")
    #canvas-wrapper(style="height: 100%;")
      canvas(ref="canvas")

  v-footer(app, fixed)
    span Copyright &copy; 2020 Christopher Quadflieg aka Shinigami
    v-spacer
    v-btn(icon, href="https://github.com/Shinigami92/visualised-sorting-algorithm", target="_blank")
      v-icon mdi-github
